INSTA_USERNAME=
INSTA_PASSWORD=
BOT_USERNAME=
OWNER_USERNAME=
OWNER_USER_ID=0
GROQ_API_KEY=
NEWS_API_KEY=NONE
TARGET_THREADS=ALL
POLL_INTERVAL_SEC=10
SESSION_PATH=session.json
IMAGE_ON=yes
NEWS_ON=no
GROQ_MODEL=llama-3.3-70b-versatile
